#output {
  font-size: 7rem;
}

@media screen and (max-width: 480px) {
  #output {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #output {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 768px) and ( max-width: 1024px) {
  #output {
    font-size: 6rem;
    line-height: 6rem;
  }
}
body {
 overflow: auto;
}
.start{
 width: 350px;
 height: 90px; 
 background-color: red;
 font-size: 50px;
 font-weight: 700;
 border-color:#cc0044;
 border-width:6px;
}
.columns{
 width: 1000px;
 margin:0;
}
.is-one-quarter{
 text-align:center;

}
.column.is-one-quarter{
 width: 500px;
}
.textarea{
	margin-top: 15px;
	border-width:4px;
	border-color:black;
	text-align:center;
	font-size:30px;
	height:330px;
}
.divtitle{
	text-align:center;
	width: 1000px;
}
.navbar-item{
	display:block;
}
.title{
	font-size: 50px;
	color:black;
}
.randomtext{
	width: 525px;
	text-align:center;
}
.section{
	width: 1903px;	
}
.image {
	width:400px;
	height:400px; 
}